.img-fondo{
    background:transparent url('https://www.xtrafondos.com/wallpapers/resized/cachorro-5004.jpg?s=large') no-repeat center center /cover;
    height: 500px;
}

hr{
    width: 30%;
    display: inline-block;
    
}


